*{
    box-sizing: border-box;
}

body
{    
    font-family: Arial, Helvetica, sans-serif;    
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    overflow: hidden; 
}
section{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: url('clock.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.314);
}
section:after{
        background: rgb(255, 0, 0);
        border-radius: 50%;
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 5%;
        height: 5%;
        z-index: 10;
}

.hours-container .mints-container .seconds-container
{
    position: absolute;
    top : 0;
    right: 0;
    left: 0;
    bottom: 0;
}
@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
    
}
.hours
{
    background-color: yellow;
    border-radius: 30%;
    position:absolute;
    left: 48.75%;
    top: 25%;
    transform-origin: 50% 100%;
    width: 1%;
    height: 25%;
    animation: rotate 43200s infinite linear;
}
.mints
{
    background-color: #51a1e4;
    border-radius: 30%;
    position: absolute;
    height: 40%;
    width: 1%;
    top: 10%;
    left: 49%;
    transform-origin: 50% 100%;
    animation: rotate 3600s infinite linear;
}
.seconds
{
    background-color: rgb(255, 0, 0);
    border-radius: 30%;
    position: absolute;
    transform-origin: 50% 80%;
    height: 45%;
    width: 1%;
    top:14%;
    left: 49.5%;
    animation: rotate 60s infinite linear;
    z-index: 8;
}

.justify-center
{
    color: #fff;
    display: contents;
}

